<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">    
<head>
<meta charset="UTF-8">
<title>Prijavi ispite</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/loginstil.css}"/>
</head>
<body>

<div th:include="navbar.html"> content here </div>
<div class="wrapper fadeInDown" style="width:800px; margin:0 auto;">

<p>Prijavi ispite</p><br>

  <div class="form-group">
<form style="width: 460px; margin: 0 auto;" class="form-group "  th:action="@{/dodaj}" th:object="${myispit}" method="post"  >
<select  class="form-control" th:field="*{id}" >
<option th:each="item : ${ispiti}"
th:value="${item.getId}"
th:text="${item.getSifra + ' - ' + item.getIme + ' - ' + item.getDatum}  "></option>
</select>
<br>
<div class="text-center">
  <input type="submit" class="fadeIn fourth" value="Prijavi ispit">
  </div>
</form>
</div>

<br>
<p>Prijavljeni ispiti</p>

<table class="table">
<tr>
<th scope="col">Ime predmeta</th>
<th scope="col">Sifra predmeta</th>
<th scope"col">Datum ispita</th>
</tr>
 <tr th:each="item : *{prijavljeniIspiti}">
                    
        <td th:text="${item.ime} "></td>
    <td th:text="${item.sifra} "></td>
      <td th:text="${#dates.format(item.datum, 'dd-MMM-yyyy')} "></td>
                 
             </tr>
             </table>
             </div>
</body>
</html>